*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(132, 243, 243);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.emoji{
    position: relative;
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: moveEmoji 3s infinite alternate;
}

.eye {
    position: absolute;
    width: 30px;
    height: 30px;
    background-color: #ffffff; 
    border-radius: 50%;
}

.eye.left {
    left: 60px;
    top: 100px;
    width: 100px;
    height: 100px;
}

.eye.right {
    right: 60px;
    top: 100px;
    width: 100px;
    height: 100px;
}

.pupil {
    position: absolute;
    background-color: #000000; 
    border-radius: 50%;
    top: 25px;
    left: 25px;
    width: 50px;
    height: 50px;
}

.eyebrow {
    position: absolute;
    width: 90px;
    height: 10px;
    background-color: #000; 
    border-radius: 5px;
    animation: moveEyebrows 3s infinite alternate; 
}

.eyebrow.left {
    left: 70px;
    top: 100px;
    transform: rotate(10deg); 
    transform-origin: bottom; 
    transform-box: fill-box; 
}

.eyebrow.right {
    right: 55px;
    top: 50px;
    transform-origin: bottom; 
    transform-box: fill-box; 
}

.mustache {
    position: absolute;
    width: 40px;
    height: 20px;
    background-color: #000000; 
    top: 250px; 
    animation: moveMouth 0.5s infinite alternate;
}

.emoji::before{
    content: '';
    position: absolute;
    top: 280px;
    width: 150px;
    height: 80px;
    background-color: rgb(83, 100, 8);
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    animation: moveMouth 0.5s infinite alternate;
}

.hat {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 500px;
}

.hat .brim {
    width: 200px; 
    height: 20px; 
    background-color: #000; 
}

.hat .top {
    width: 100px; 
    height: 100px; 
    background-color: #000; 
    margin-top: -10px; 
}

@keyframes moveEyebrows {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}

@keyframes moveEmoji {
    0%, 100% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(20px);
    }
}

@keyframes moveMouth {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}
